.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}
#wrapper {
	margin:0 auto;
	width:960px;
}

.ui-widget {
	margin-bottom:1em;
}

#debug-row {
	border-top: 3px solid #ddd;
	margin-top:2em;
	padding-top:1.5em;
}

#heading-row h1 {
	border-bottom: 3px solid #ddd;
	margin: 1em 0 1.5em 0;	
}

#footer {
	border-top:none; 
}

.main-col {
	margin-bottom:2em;
}
